body {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

.chat-message .content {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 18px;
    color: #eeeeee;
    padding: 12px;
    border-radius: 16px;
    background-color: #222222;
    display: inline-block;
    min-width: 128px;
    max-width: 256px;
    word-break: break-all;
}

.chat-message .author {
    font-weight: bold;
    margin-bottom: 8px;
    color: #0091ea;
}

.chat-message {
    margin-bottom: 8px;
}

.messages_block{
    padding: 16px;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 48px;
    box-sizing: border-box;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.send_box {
    position: absolute;
    bottom: 0;
    width: 100%
}

.input_box {
    border-top: 2px solid #424242;
    width: 100%;
    display: inline-flex;
    background-color: #212121;
}

.text_entry {
    font-size: 18px;
    color: #f5f5f5;
    background-color: #212121;
    padding: 14px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
    text-decoration: none;
}

.send_img{
    float: right;

}